<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="col-md-6" th:fragment="login-form">
    <div th:if="${error} != null" th:text="${error}"></div>
    <!-- Login Form -->
    <div class="nb-auth-form">
        <h3 class="center">Sign In</h3>
        <form method="post" th:object="${userLoginBindingModel}">
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-danger'">
                <input type="email" class="form-control" placeholder="Enter Email" name="email" th:field="*{email}" />
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-danger'">
                <input type="password" class="form-control" placeholder="Enter Password" name="password" th:field="*{password}" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" /> Remember Me
                </label>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-block">Sign In</button>
        </form>
        <div class="social">
            <a href="/login/facebook" class="facebook">
                <i class="fa fa-facebook"></i> &nbsp; Login with Facebook
            </a>
            <a href="/login/twitter" class="twitter">
                <i class="fa fa-twitter"></i> &nbsp; Login with Twitter
            </a>
            <a href="/login/google" class="google-plus">
                <i class="fa fa-google-plus"></i> &nbsp; Login with Google Plus
            </a>
        </div>
        <a href="/user/reset_password">Reset password</a>
    </div>

</div>
</body>
</html>